Repository Piko-Piko-Pon-Taro/navict-app, pull requests merged in 2021-05, with the labels that each got.

#10 migrate replace_uid_provider
  server/prisma/migrations/20210503063038_replace_uid_provider/migration.sql
  server/prisma/schema.prisma
Labels: server

#1 updated README about deploying navict-client
  README.md
  components/UserBanner.tsx
  contexts/AuthContext.tsx
  firebase/firebase.ts
  package.json
  pages/_app.tsx
  tsconfig.json
  yarn.lock
Labels: client

#11 create users api
  server/api/signin/controller.ts
  server/api/signin/index.ts
  server/api/users/_userId@number/controller.ts
  server/api/users/_userId@number/index.ts
  server/api/users/controller.ts
  server/api/users/index.ts
Labels: server

#12 update update a user api
  server/api/users/_userId@number/index.ts
Labels: server

#16 twitter signin
  components/UserBanner.tsx
  contexts/AuthContext.tsx
  server/api/signin/controller.ts
Labels: client, enhancement

#17 updated README about deploying to vercel
  README.md
Labels: client, documentation

#18 create all apis
  README.md
  server/api/ENDPOINTS.md
  server/api/libraries/controller.ts
  server/api/libraries/index.ts
  server/api/libraries/search/_link@string/controller.ts
  server/api/libraries/search/_link@string/index.ts
  server/api/libraries/search/_title@string/controller.ts
  server/api/libraries/search/_title@string/index.ts
  server/api/libraries/search/controller.ts
  server/api/libraries/search/index.ts
  server/api/likes/_likeId@number/controller.ts
  server/api/likes/_likeId@number/index.ts
  server/api/likes/controller.ts
  server/api/likes/index.ts
  server/api/roadmaps/_roadmapId@number/_firstStepId@number/controller.ts
  server/api/roadmaps/_roadmapId@number/_firstStepId@number/index.ts
  server/api/roadmaps/_roadmapId@number/controller.ts
  server/api/roadmaps/_roadmapId@number/index.ts
  server/api/roadmaps/_roadmapId@number/isDone/controller.ts
  server/api/roadmaps/_roadmapId@number/isDone/index.ts
  server/api/roadmaps/_roadmapId@number/isGoalSet/controller.ts
  server/api/roadmaps/_roadmapId@number/isGoalSet/index.ts
  server/api/roadmaps/controller.ts
  server/api/roadmaps/index.ts
  server/api/roadmaps/popular/controller.ts
  server/api/roadmaps/popular/index.ts
  server/api/roadmaps/search/_keyword@string/controller.ts
  server/api/roadmaps/search/_keyword@string/index.ts
  server/api/roadmaps/search/controller.ts
  server/api/roadmaps/search/index.ts
  server/api/steps/_stepId@number/_nextStepId@number/controller.ts
  server/api/steps/_stepId@number/_nextStepId@number/index.ts
  server/api/steps/_stepId@number/controller.ts
  server/api/steps/_stepId@number/index.ts
  server/api/steps/_stepId@number/isDone/controller.ts
  server/api/steps/_stepId@number/isDone/index.ts
  server/api/steps/controller.ts
  server/api/steps/index.ts
  server/api/steps/recommended/controller.ts
  server/api/steps/recommended/index.ts
  server/api/tags/controller.ts
  server/api/tags/index.ts
  server/api/tags/search/_name@string/controller.ts
  server/api/tags/search/_name@string/index.ts
  server/api/tags/search/controller.ts
  server/api/tags/search/index.ts
  server/service/libraries.ts
  server/service/likes.ts
  server/service/roadmaps.ts
  server/service/steps.ts
  server/service/tags.ts
Labels: server

#28 update README.md
  README.md
Labels: documentation

#31 fix production detabase connection
  docker-compose.yaml
  server/prisma/schema.prisma
Labels: bug, navict-server

#33 Watanabe
  README.md
  docker-compose.yaml
Labels: bug, navict-server

#34 add prisma migrate deploy command to Dockerfile
  Dockerfile
  README.md
Labels: bug, navict-server

#35 convert steps/recommended api to libraries/recommended
  server/api/ENDPOINTS.md
  server/api/libraries/recommended/controller.ts
  server/api/libraries/recommended/index.ts
  server/api/steps/recommended/index.ts
  server/service/libraries.ts
  server/service/steps.ts
Labels: navict-server

#39 create an api for navict-recommender
  README.md
  server/api/ENDPOINTS.md
  server/api/navictRecommender/controller.ts
  server/api/navictRecommender/index.ts
  server/api/navictRecommender/roadmaps/controller.ts
  server/api/navictRecommender/roadmaps/index.ts
  server/api/navictRecommender/roadmaps/libraryIds/controller.ts
  server/api/navictRecommender/roadmaps/libraryIds/index.ts
  server/service/navictRecommender.ts
Labels: navict-server

#44 create seed data
  README.md
  server/prisma/seed.ts
Labels: navict-server

#45 create sample dummy data for train
  server/prisma/seed.ts
  server/types/index.ts
Labels: navict-server

#50 recreate GET /users/_userId@number api
  server/api/signin/index.ts
  server/api/users/_userId@number/controller.ts
  server/api/users/_userId@number/index.ts
  server/prisma/options.ts
  server/service/roadmaps.ts
  server/service/users.ts
  server/types/index.ts
Labels: navict-server

#54 recreate get apis
  server/api/ENDPOINTS.md
  server/api/libraries/recommended/controller.ts
  server/api/libraries/recommended/index.ts
  server/api/libraries/search/_link@string/index.ts
  server/api/libraries/search/_title@string/index.ts
  server/api/libraries/searchByLink/_link@string/controller.ts
  server/api/libraries/searchByLink/_link@string/index.ts
  server/api/libraries/searchByLink/controller.ts
  server/api/libraries/searchByLink/index.ts
  server/api/libraries/searchByTitle/_title@string/controller.ts
  server/api/libraries/searchByTitle/_title@string/index.ts
  server/api/libraries/searchByTitle/controller.ts
  server/api/libraries/searchByTitle/index.ts
  server/api/navictRecommender/roadmaps/libraryIds/index.ts
  server/api/roadmaps/_roadmapId@number/controller.ts
  server/api/roadmaps/_roadmapId@number/index.ts
  server/api/roadmaps/popular/controller.ts
  server/api/roadmaps/popular/index.ts
  server/api/roadmaps/search/_keyword@string/controller.ts
  server/api/roadmaps/search/_keyword@string/index.ts
  server/api/tags/search/_name@string/index.ts
  server/prisma/schema.prisma
  server/service/libraries.ts
  server/service/navictRecommender.ts
  server/service/roadmaps.ts
Labels: navict-server

#55 delete Roadmap.isGoalSet and add Roadmap.goal and fix User seed data
  README.md
  server/api/ENDPOINTS.md
  server/api/roadmaps/_roadmapId@number/isGoalSet/controller.ts
  server/api/roadmaps/_roadmapId@number/isGoalSet/index.ts
  server/prisma/migrations/20210506073534_remove_is_goal_set_and_add_goal_in_roadmap/migration.sql
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/service/libraries.ts
  server/service/roadmaps.ts
Labels: bug, navict-server

#56 fix navictRecommender api
  server/service/navictRecommender.ts
Labels: bug

#57 recreate PUT /users/_userId@number api
  server/api/users/_userId@number/index.ts
  server/service/users.ts
Labels: navict-server

#58 recreat apis
  server/api/ENDPOINTS.md
  server/api/libraries/index.ts
  server/api/likes/_likeId@number/index.ts
  server/api/likes/index.ts
  server/api/roadmaps/_roadmapId@number/_firstStepId@number/index.ts
  server/api/roadmaps/_roadmapId@number/index.ts
  server/api/roadmaps/_roadmapId@number/isDone/index.ts
  server/api/roadmaps/controller.ts
  server/api/roadmaps/index.ts
  server/api/signin/controller.ts
  server/api/steps/_stepId@number/_nextStepId@number/index.ts
  server/api/steps/_stepId@number/index.ts
  server/api/steps/_stepId@number/isDone/index.ts
  server/api/steps/_stepId@number/memo/_memo@string/controller.ts
  server/api/steps/_stepId@number/memo/_memo@string/index.ts
  server/api/steps/_stepId@number/memo/controller.ts
  server/api/steps/_stepId@number/memo/index.ts
  server/api/steps/_stepId@number/nextStepId/_nextStepId@number/controller.ts
  server/api/steps/_stepId@number/nextStepId/_nextStepId@number/index.ts
  server/api/steps/_stepId@number/nextStepId/controller.ts
  server/api/steps/_stepId@number/nextStepId/index.ts
  server/api/steps/index.ts
  server/api/tags/index.ts
  server/api/users/_userId@number/index.ts
  server/service/roadmaps.ts
  server/service/steps.ts
  server/service/users.ts
Labels: navict-server

#74 create MypagePage and UserPage
  components/UserIcon.tsx
  components/list/RoadmapCard.tsx
  components/parts/AnimatedCircularProgressBar.tsx
  contexts/AuthContext.tsx
  pages/mypage.tsx
  pages/signin.tsx
  pages/test.tsx
  pages/users/[userId].tsx
  public/brandIcon/twitterIconBlue.svg
  public/crown.svg
  public/icon/webIcon.svg
  public/list/heart-outline-gray.svg
  public/three-dots.svg
  server/api/ENDPOINTS.md
  server/api/likes/_likeId@number/controller.ts
  server/api/likes/_likeId@number/index.ts
  server/api/likes/controller.ts
  server/api/likes/index.ts
  server/service/likes.ts
Labels: navict-client, navict-server

#89 recreate POST /libraries/recommended api
  server/api/libraries/recommended/controller.ts
  server/api/libraries/recommended/index.ts
  server/prisma/seed.ts
  server/service/libraries.ts
Labels: navict-server

#93 create RecommendedLibraryCard component
  components/list/RecommendedLibraryCard.tsx
  utils/utility.ts
Labels: navict-client

#95 create TagChip component
  components/parts/Tag.tsx
  components/parts/TagChip.tsx
  public/cross.svg
Labels: navict-client

#101 change logo
  components/header/Nav.tsx
  public/logo.svg
Labels: navict-client

#103 fix POST /libraries/recommended api
  server/api/libraries/recommended/index.ts
  server/prisma/migrations/20210508133720_add_img_column_to_library/migration.sql
  server/prisma/schema.prisma
Labels: navict-server

#105 [update] seed
  server/prisma/seed.ts
Labels: enhancement, navict-server

#104 create RaodmapStatus and StepCard component
  components/list/RoadmapCard.tsx
  components/list/StepCard.tsx
  components/parts/RoadmapStatus.tsx
  public/trash.svg
Labels: navict-client

#106 Taira/components 暫定
  components/roadmaps/RoadmapBasicInfo.tsx
  components/roadmaps/SetGoal.tsx
  components/roadmaps/StepSection.tsx
  pages/roadmaps/new.tsx
  server/api/roadmaps/index.ts
  server/types/index.ts
Labels: navict-client

#108 create StepCardWithCheck component
  components/list/StepCard.tsx
  components/list/StepCardWithCheck.tsx
  components/parts/AnimatedCircularProgressBar.tsx
  public/check-fill.svg
  public/check-outline.svg
Labels: navict-client

#109 Watanabe
  components/button/Button.tsx
  components/list/StepCard.tsx
  components/list/StepCardWithCheck.tsx
  components/parts/BarBottom.tsx
  components/parts/BarMiddle.tsx
  components/parts/BarTop.tsx
  components/parts/Trash.tsx
  pages/roadmaps/[roadmapId].tsx
  public/bar-bottom.svg
  public/bar-middle.svg
  public/bar-top.svg
  public/favicon.ico
  public/favicon.png
  public/top-mv.jpg
  server/prisma/seed.ts
  server/service/libraries.ts
  server/service/roadmaps.ts
  utils/utility.ts
Labels: navict-client

#112 fix IndexPage
  components/Footer.tsx
  components/SearchRoadmap.tsx
  components/header/Nav.tsx
  components/list/RoadmapInProgressCard.tsx
  components/list/RoadmapsInProgress.tsx
  pages/index.tsx
  pages/search.tsx
  public/arrow.svg
  public/logo-footer.svg
  public/man.svg
Labels: bug, navict-client

#114 Watanabe
  components/header/Nav.tsx
  pages/users/[userId].tsx
Labels: navict-client

#115 handle cors policy
  server/service/app.ts
Labels: navict-server

#116 Taira/components
  components/parts/AnimatedCircularProgressBar.tsx
  pages/roadmaps/new.tsx
Labels: bug, navict-client

#123 [update] seed
  server/prisma/seed.ts
Labels: enhancement, navict-app

#126 add seed command to Dockerfile in production
  Dockerfile
Labels: navict-server

#137 delete prerelease comment
  components/NavictChan.tsx
  contexts/AuthContext.tsx
Labels: navict-app

#138 delete prerelease comment
  components/NavictChan.tsx
  contexts/AuthContext.tsx
Labels: navict-app

#143 add server error handling
  server/service/app.ts
Labels: navict-server

#147 fix id constraint bug
  README.md
  server/prisma/seed.ts
  server/service/libraries.ts
  server/service/roadmaps.ts
Labels: bug, navict-server

#148 create roadmap 時に、tagがDBに存在しなければ作成されるように処理を変更
  server/service/roadmaps.ts
Labels: navict-server

#152 fix 500 error response
  server/service/app.ts
Labels: bug, navict-server

#151 add title link unique in Library table
  server/prisma/migrations/20210518050256_title_link_unique_in_library/migration.sql
  server/prisma/schema.prisma
Labels: navict-server

#149 update type definitions
  components/roadmaps/StepSection.tsx
  pages/roadmaps/new.tsx
  server/api/libraries/index.ts
  server/api/libraries/recommended/index.ts
  server/api/likes/index.ts
  server/api/roadmaps/_roadmapId@number/index.ts
  server/api/roadmaps/index.ts
  server/api/signin/index.ts
  server/api/steps/_stepId@number/index.ts
  server/api/steps/index.ts
  server/api/steps/recommended/controller.ts
  server/api/steps/recommended/index.ts
  server/api/tags/index.ts
  server/api/tags/search/_name@string/index.ts
  server/api/users/_userId@number/index.ts
  server/service/roadmaps.ts
  server/types/index.ts
Labels: navict-server

#155 add auth restriction to apis
  contexts/AuthContext.tsx
  pages/index.tsx
  server/api/ENDPOINTS.md
  server/api/libraries/controller.ts
  server/api/libraries/index.ts
  server/api/likes/controller.ts
  server/api/likes/index.ts
  server/api/roadmaps/_roadmapId@number/controller.ts
  server/api/roadmaps/_roadmapId@number/index.ts
  server/api/roadmaps/_roadmapId@number/isDone/controller.ts
  server/api/roadmaps/_roadmapId@number/isDone/index.ts
  server/api/roadmaps/controller.ts
  server/api/roadmaps/index.ts
  server/api/signin/controller.ts
  server/api/steps/_stepId@number/controller.ts
  server/api/steps/_stepId@number/index.ts
  server/api/steps/_stepId@number/isDone/controller.ts
  server/api/steps/_stepId@number/isDone/index.ts
  server/api/steps/_stepId@number/memo/_memo@string/controller.ts
  server/api/steps/_stepId@number/memo/_memo@string/index.ts
  server/api/steps/_stepId@number/nextStepId/_nextStepId@number/controller.ts
  server/api/steps/_stepId@number/nextStepId/_nextStepId@number/index.ts
  server/api/steps/controller.ts
  server/api/steps/index.ts
  server/api/tags/controller.ts
  server/api/tags/index.ts
  server/api/users/_userId@number/controller.ts
  server/api/users/_userId@number/index.ts
  server/service/auth.ts
  server/service/http.ts
  server/service/libraries.ts
  server/service/roadmaps.ts
  server/service/steps.ts
  server/types/index.ts
  server/validators/.gitkeep
  server/validators/index.ts
  utils/apiClient.ts
Labels: navict-server
